*{
    padding:0;
    margin: 0;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color :white;
}
.container{
    min-width:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h1{
    color: black;
    font-size:2.3rem ;
    font-weight: normal;
}
.todo-form{
    margin: 40px 0px ;
    background: white;
}
.todo-input{
    width: 750px;
    outline: none;
    border-radius: 3px;
    padding: 12px;
    border: 2px solid #bbb7b7;
    margin-right: 10px;
    font-size: 1rem;
}
.add-button {
    background-color: rgba(16, 83, 186, 0.84);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 12px 20px;
    font-size: 1.2rem;
}
.file-list{
    padding:20px;
    background: burlywood;
    border-radius: 3px;
}
.todo-items{
    min-width: 350px;
}
ul {
    list-style-type: none;
}
/* each li with class= "item" */
.item{
    background: white;
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.checkbox{
    margin-right:10px;
}
/*delete button */
.delete-button{
    float: right;
    background: white;
    color:darkred;
    border:none;
    outline:none;
    font-size: 1.1rem;
    font-weight:550;
}
.checked{
    text-decoration: line-through ;
}
